.baloon {
  z-index: 100;
  position: relative;
}
.baloon__body {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 15px;
  width: 238px;
  padding: 20px 30px;
  background-color: #fff;
  font: normal 14px/22px Arial, sans-serif;
  text-align: left;
  color: #000000;
  border: 1px solid #cccccc;
  box-shadow: 0 0 25px #555;
  &::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 22px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
  }
  &--calendar {
    top: 0;
    left: 100%;
    margin-top: -22px;
    margin-left: 11px;
    &::after {
      top: 24px;
      left: -20px;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid #ffffff;
    }
  }
  &--search {
    width: auto;
    padding: 0;
  }
}
.baloon > .baloon__body {
  display: block;
}
.baloon__close {
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
  &:before, 
  &:after {
    content: ' ';
    position: absolute;
    top: 6px;
    left: 12px;
    height: 12px;
    width: 2px;
    background-color: #333;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}
.baloon__input {
  margin-bottom: 15px;
  &--calendar {
  margin-bottom: 5px;
  }
}
.baloon__input--calendar:last-of-type {
  margin-bottom: 35px;
}
.baloon__textarea{
  margin-bottom: 20px;
  resize: none;
}
.baloon__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
}
.baloon__date,
.baloon__names {
  margin: 0;
  margin-bottom: 15px;
}
.baloon__members {
  margin: 0;
  padding: 0;
  font-size: 11px;
  line-height: 11px;
  font-weight: bold;
  color: #747474;
}
.baloon__names {
  margin: 0;
  margin-bottom: 20px;
}
.baloon__btn {
  margin-right: 12px;
  &:last-of-type {
    margin: 0;
  }
}
.baloon__list {
  @include reset-list();
  padding: 5px;
  max-height: 380px;
  overflow-x: hidden;
  overflow-y: auto;
}
.baloon__item {
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 2px;
  width: 188px;
  color: #000000;
  font-size: 12px;
  line-height: 12px;
  background-color: #ffffff;
  overflow: hidden;
  
  &:hover {
    color: #ffffff;
    background-color: #27a1ff;
  }
}
.baloon__title-search {
  position: relative;
  margin: 0;
  margin-bottom: 8px;
  font-size: 13px;
  line-height: 13px;
  font-weight: bold;
  color: #000000;
  white-space: nowrap;
}
.baloon__item:hover .baloon__title-search,
.baloon__item:hover .baloon__date-search {
  color: #ffffff;
}
.baloon__date-search {
  margin: 0;
  color: #666666;
}