.btn {
  @include button();
  &--primary {
    font-size: 12px;
    font-weight: bold;
    line-height: 26px;
    color: #ffffff;
    background-color: #0271c7;
    border: none;
    border-radius: 3px;
    &:hover {
      background-color: #015da4;
    }
    &:active {
      background-color: #015da4;
      color: #c2d0e2;
    }
  }
  &--pushed {
    background-color: #015da4;
    color: #c2d0e2;
  }
}