.top-container {
  @include container();
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 55px;
  padding-bottom: 20px;
}
.top-container__button-group {
  flex: 0 0 170px;
}
.top-container__button-group .btn:nth-child(2) {
  margin-left: 10px;
}
.top-container__search-input {
  position: relative;
  flex: 0 0 200px;
  &::after {
    content: '';
    position: absolute;
    left: -21px;
    top: 5px;
    width: 13px;
    height: 13px;
    background-image: url(../img/zoom.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.top-container__clean-search {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 12px;
  height: 22px;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
  &:before, 
  &:after {
    content: ' ';
    position: absolute;
    top: 6px;
    right: 12px;
    height: 12px;
    width: 2px;
    background-color: #333;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}
.top-container__search-input--focus > .top-container__clean-search {
  display: block;
}