.wrapper {
  @include container();
}
input,
textarea {
  width: calc(100% - 15px);
  padding-top: 3px;
  padding-right: 6px;
  padding-bottom: 3px;
  padding-left: 6px;
  font: normal 12px/12px Arial, sans-serif;
  color: #000000;
  border: 1px solid #b1b1b1;
  border-radius: 3px;
  background-color: #ffffff;
}
input::placeholder,
textarea::placeholder {
  font: normal 12px/12px Arial, sans-serif;
  vertical-align: center;
  text-align: left;
  color: #b1b1b1;  
  background-color: #ffffff;
}