extends includes/index.pug

block baloonCalendar
  td(class='calendar__day calendar__day--active baloon')
    div(class='baloon__body baloon__body--calendar')
      span.baloon__close
      input(type="text", class='baloon__input baloon__input--calendar', placeholder='Событие')
      input(type="text", class='baloon__input baloon__input--calendar', placeholder='День, месяц, год')
      input(type="text", class='baloon__input baloon__input--calendar', placeholder='Имена участников')
      textarea(class='baloon__textarea', name="", cols="30", rows="6")
      button(class='btn baloon__btn') Готово
      button(class='btn baloon__btn') Удалить
    div(class='calendar__event')
      p(class='calendar__event-when') 6
      p.calendar__event-title 
      p.calendar__event-members 
